.hamburger>span{
    display: block;
    height: 2px;
    width: 28px;
    background-color: black;
    border-radius: 9999px;
    border: 2px solid;
}
.hamburger >span:not(:last-child){
    margin-bottom: 7px;
}
.hamburger{
    display: inline-block;
    /* border: 2px solid black;
    padding: 6px;
    border-radius: 5px; */
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.hamburger, .hamburger>span{
    transition: all .4s ease-in-out;
}

.hamburger.active{
    transition-delay: .8s;
    transform: rotate(45deg);
}

.active>span:nth-child(2){
    width: 0px;
    color: none;
    background-color: rgba(102, 51, 153, 0);
    border: none;
    height: 2px;
}
.active>span:nth-child(1),
.active>span:nth-child(3){
    transition-delay: .4s;
}

.active>span:nth-child(1){
    transform: translateY(9px);
}
.active>span:nth-child(3){
    transform: translateY(-13px) rotate(90deg);
}
.sidebar{
    transition: width ease-out .5s;
}