button {
	box-shadow: inset 0 0 0 0 white;
	transition: 0.8s ease-in-out all;
	background-color: blue;
	color: white;
	font-size: 6rem;
	padding: 0.4rem 6rem;
	cursor: pointer;
	border-radius: 0.3rem;
	position: relative;
}
button:hover {
	box-shadow: inset 1200px 0 0 0 white;
	color: black;
}
